<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
   <ion-button (click) = "openModal()">Open modal</ion-button> 
  </div>

  <div *ngIf="countriesDataArray.length > 0">
    <ion-item *ngFor="let item of countriesDataArray">
      <h2>{{ item[0].flag }}</h2>


      <!---NEW-->
      <ion-item 
      [routerLink]="['/detail', item[0].capital[0]]" 
      (click)="sendData(item)">
        {{ item[0].name.common }}
      </ion-item>



    </ion-item>

  
  </div>

 


</ion-content>
